html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}
paper-material.content{
	margin: 15px auto;
	padding: 15px 40px 25px 40px;
	background-color: white;
	border-radius: 2px;
	vertical-align: center;
	max-width: 900px;		
}

.link, .pointer {
	cursor: pointer;
}

.copy {
	cursor: copy;
}

.hcenter{
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}
.vcenter{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dialog {
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
}
